/**** Importation des polices DM Sans et Alan Sans ****/

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/**** Variables css ****/

:root {
    /* Bleu */
    --dark-blue: #094067;
    --light-blue: #3da9fc;

    /* Blanc */
    --white: #fffffe;

    /* Noir */
    --light-dark: #5f6c7b;

    /* Polices */
    --font-title: "Alan Sans", sans-serif;
    --font: "DM Sans", sans-serif;
}

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    color: var(--dark-blue);
}

h1,
h2 {
    text-align: center;
    line-height: 1.7;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

p {
    color: var(--light-dark);
    line-height: 1.9;
}

p,
a {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-blue);
}

section {
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

/**** body ****/

body {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    background-color: var(--white);
    padding: 20px 50px;
}

/**** header ****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    width: 100px;
    height: 100px;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__list {
    display: flex;
}

.header__list__item {
    padding: 0 10px;
}

.header__list__item:last-child {
    padding: 0 0 0 10px;
}

.header__list__item>a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin-top: 3px;
    background-color: var(--light-blue);
    transition: width 0.3s ease-in-out;
}

.header__list__item:hover>a::after {
    width: 100%;
}

.header__burger__btn {
    display: none;
}

/**** main ****/

.main__content {
    flex-grow: 1;
}

/**** section about ****/

.about__title {
    margin-top: 0;
    margin-bottom: 30px;
}

/**** section services *****/

.services__text {
    padding-block: 30px
}

.services__link {
    text-align: center;
    padding-bottom: 30px;
    transform: color 0.3s ease-in-out;
}

.services__link:hover {
    color: var(--light-blue);
}

.services__article {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding-top: 30px;
}

.service__card {
    width: 33%;
    height: 340px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--dark-blue);
    will-change: transform;
    transition: transform 0.3s ease-in-out;
}

.service__card:hover {
    transform: scale(1.03);
}

.service__div,
.service__div img {
    width: 100%;
    height: 280px;
    border-radius: 8px 8px 0 0;
}

.service__card h3 {
    padding-block: 16px;
    text-align: center;
}

/**** section estimate ****/

.estimate {
    padding-bottom: 60px;
}

.estimate__text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.estimate__simulator {
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
}

.estimate__simulator__left,
.estimate__simulator__right {
    width: 45%;
}

/**** footer ****/

footer {
    display: flex;
    flex-direction: column;
}

footer h2 {
    margin-bottom: 30px;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul li i {
    padding-right: 10px;
}

footer ul li {
    margin-bottom: 20px;
}

footer ul li,
footer ul li a {
    transition: color 0.3s ease-in-out;
}

footer ul li a:hover,
footer ul li:hover {
    color: var(--light-blue);
}

.footer__text {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}